In [1]:
import pandas as pd

In [2]:
columns = ['source', 'destination']
wiki_df = pd.read_csv('ds/wiki-topcats-reduced.txt', delimiter='\t', names=columns).astype('int32')
wiki_df.head()

   source  destination
0      52       401135
1      52      1069112
2      52      1163551
3      62        12162
4      62       167659

In [3]:
# check duplicate edge in graph
print(wiki_df.groupby(columns).size().reset_index(name='count').sort_values('count', ascending=False).head())

          source  destination  count
0             52       401135      1
1763472  1167970      1168735      1
1763494  1167971       214624      1
1763495  1167971       519419      1
1763496  1167971       537481      1

In [7]:
out_edge_df = wiki_df.groupby(['source']).size().reset_index(name='count_out')
in_edge_df = wiki_df.groupby(['destination']).size().reset_index(name='count_int')
join_df = pd.merge(out_edge_df, in_edge_df, how='outer', left_on=['source'], right_on=['destination'])
            .fillna(0).astype('int32')
    
del join_df['destination']
join_df.columns = ['node', 'out', 'in']

join_df.head(10)

   node  out  in
0    52    3   0
1    62    9   1
2    64    1   0
3    66    2   0
4    74    1   1
5    95    4   3
6   103    1   0
7   104    3   4
8   105    1   0
9   107    8  13

In [9]:
# If it is direct or not
join_df.drop(join_df[(join_df['out'] == 0) | (join_df['in'] == 0)].index).head(10)

    node  out  in
1     62    9   1
4     74    1   1
5     95    4   3
7    104    3   4
9    107    8  13
16   134    7   6
17   137    4   1
18   153   16   7
19   154    7   4
21   156    2   1

In [10]:
# The number of nodes
len(join_df.index)

461193

In [12]:
# The number of edges
len(wiki_df.index)

2645247

In [13]:
print(round(join_df['in'].mean(), 3))
print(round(join_df['out'].mean(), 3))

5.736
5.736